
  body {
    background-color: #edf2fb;
  }

  header {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
  }

  .container {
    margin: 0;
    max-width: 90%;
    width: 90%;
  }

  #forecastCity {
    width: 85%;
    border-style: solid;
    border-color: #abc4ff;
    border-width: 5px;
  }